.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
compose*.yaml
